{% macro post_card_macro(post) %}

<div class="card" style="width: 18rem">
  <img
    src="../../static/img/klog2.png"
    class="card-img-top"
    alt="{{post.title}}"
  />
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.contents}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{post.author}}</li>
    <li class="list-group-item">{{post.email}}</li>
    <li class="list-group-item">{{post.date}}</li>
  </ul>
</div>

{% endmacro %}
